.CarouselContainer {
  background: #e4e4e4;
  padding-bottom: 40px;
  padding-top: 40px;
}

.Carousel {
  margin: auto;
  width: 90%;
}

.CarouselItem {
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 20px auto;
  font-size: 20pt;
  line-height: 20pt;
}

.MadLibSelect {
  margin: 5px;
  margin-top: -7px;
  font-size: 20pt;
}

.ReportContainer {
  width: 95%;
  margin: 20px auto;
}

.Sticky {
  .CarouselContainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    padding-top: 0;
    padding-bottom: 0;
    transition: padding-top 0.2s, padding-bottom 0.2s;
  }
  .CarouselItem {
    padding: 10px;
    transition: padding 0.2s;
  }
  .ReportContainer {
    margin-top: 200px;
  }
}
