@import "../styles/variables";

.Grid {
  margin: auto;
  max-width: 800px;
}

.LandingPage {
  padding: 20px;
}

.LandingSquare {
  text-align: center;
  padding: 20px;
}

.BlueLandingSquare {
  padding: 20px;
  background: $blue;
  color: $white;
}

.GreenLandingSquare {
  padding: 20px;
  background: $green;
  color: $white;
}
