.SearchForText {
  font-size: 12pt;
  font-weight: bold;
}

.NoteText {
  font-size: 10pt;
  color: grey;
  font-style: italic;
}

.FipsSelectorPopover {
  padding: 20px;
}

.MadLibButton {
  font-size: 20px !important;
  font-weight: normal !important;
}
