.CardHeader {
  text-align: left;
  font-weight: bold !important;
}

.TableContainer {
  max-height: 500px;
  overflow-y: scroll;
}

.ChartCard {
  margin: 10px;
}

.SmallMarginContent {
  text-align: left;
  padding-bottom: 6px !important;
  padding-top: 6px !important;
}
