@import "styles/variables";

.App {
  text-align: center;
}

.NavButton {
  color: $white;
  a:link,
  a:visited {
    color: $white;
    text-decoration: none;
  }
}

.HomeLogo {
  flex-grow: 1;
  text-align: left;
  font-family: "Montserrat" !important;
  text-transform: uppercase;
}
