// color palette
$grey-dark: #222;
$white: #fff;
$bg-color: #e2e2e2;

// default font settings
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-stack-code: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
$font-size: 1.4rem;
$font-color: $grey-dark;
$line-height: 2.4rem;
